# Игнорируем временные и скомпилированные файлы Microchip Studio
Debug/
Release/
*.obj
*.exe
*.elf
*.hex
*.map
*.d
*.o
*.eep
*._

# Игнорируем файлы пользовательских настроек IDE
*.cproj
*.xml
